﻿@{
    ViewBag.Title = "Hillstar";
}

<div class="jumbotron">
    <h1>Hillstar Test</h1>
    <p class="lead"> Select From Database </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Products","Index","Products")</h2>
        <p>
           Click to view the table
        </p>
       </div>
</div>